.idea/*

dataset/*
*.txt
__pycache__/
*.log
preprocess/*.ipynb
*.ipynb_checkpoints/
._*
google_api.py
*.zip
trained_model/

log/

*.csv
*.dic

mecab-naist-jdic-0.4.3-ComeJisyo-20081120/
jawiki*
*.gz
outputs/

api_tokens.py
db_information.py
sample.ipynb